<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>FABs</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-fab vertical="top" horizontal="end" edge slot="fixed">
		<ion-fab-button color="vibrant" mini>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-list>
			<ion-fab-button>
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-vimeo"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-googleplus"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>

	<ion-fab horizontal="end" vertical="bottom" edge slot="fixed">
		<ion-fab-button color="light">
			<ion-icon name="arrow-dropleft"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="start">
			<ion-fab-button>
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-vimeo"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-googleplus"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>

	<ion-fab vertical="top" horizontal="start" slot="fixed">
		<ion-fab-button color="secondary">
			<ion-icon name="arrow-dropright"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="end">
			<ion-fab-button>
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-vimeo"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-googleplus"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="dark">
			<ion-icon name="arrow-dropup"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button>
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-vimeo"></ion-icon>
			</ion-fab-button>
			<ion-fab-button>
				<ion-icon name="logo-googleplus"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>

	<ion-fab vertical="center" horizontal="center" slot="fixed">
		<ion-fab-button color="danger">
			<ion-icon name="md-share"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button color="primary">
				<ion-icon name="logo-vimeo"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
		<ion-fab-list side="bottom">
			<ion-fab-button color="secondary">
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
		<ion-fab-list side="start">
			<ion-fab-button color="light">
				<ion-icon name="logo-googleplus"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
		<ion-fab-list side="end">
			<ion-fab-button color="dark">
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>

	<ion-fab horizontal="end" vertical="center" slot="fixed">
		<ion-fab-button color="danger">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
