<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Components</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item (click)="actionsheetTapped()">
			Action Sheet
		</ion-item>
		<ion-item (click)="alertsTapped()">
			Alerts
		</ion-item>
		<ion-item (click)="badgesTapped()">
			Badges
		</ion-item>
		<ion-item (click)="buttonsTapped()">
			Buttons
		</ion-item>
		<ion-item (click)="cardsTapped()">
			Cards
		</ion-item>
		<ion-item (click)="checkboxTapped()">
			Checkbox
		</ion-item>
		<ion-item (click)="floatingActionButtonsTapped()">
			Floating Action Buttons
		</ion-item>
		<ion-item (click)="gesturesTapped()">
			Gestures
		</ion-item>
		<ion-item (click)="gridTapped()">
			Grid
		</ion-item>
		<ion-item (click)="iconsTapped()">
			Icons
		</ion-item>
		<ion-item (click)="inputsTapped()">
			Inputs
		</ion-item>
	</ion-list>
</ion-content>
