<ion-header>
	<ion-navbar>
		<ion-title>Cards</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			This is just your basic card with some text to boot.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			Header
		</ion-card-header>
		<ion-card-content>
			This is a card with some text and a header.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			List In Card
		</ion-card-header>

		<ion-list>
			<button ion-item>
				<ion-icon name='cart' item-left></ion-icon>
				Shopping
			</button>

			<button ion-item>
				<ion-icon name='medical' item-left></ion-icon>
				Hospital
			</button>

			<button ion-item>
				<ion-icon name='cafe' item-left></ion-icon>
				Cafe
			</button>

			<button ion-item>
				<ion-icon name='paw' item-left></ion-icon>
				Dog Park
			</button>

			<button ion-item>
				<ion-icon name='beer' item-left></ion-icon>
				Pub
			</button>

			<button ion-item>
				<ion-icon name='planet' item-left></ion-icon>
				Space
			</button>
		</ion-list>
	</ion-card>

	<ion-card>
		<img src="assets/img/bjork-live.jpg"/>
		<ion-card-content>
			<ion-card-title>
				Björk
			</ion-card-title>
			<p>
				Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the
				Sugarcubes, but when...
			</p>
		</ion-card-content>
		<ion-row no-padding>
			<ion-col>
				<button ion-button clear small color="danger" icon-left>
					<ion-icon name='star'></ion-icon>
					Favorite
				</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button clear small color="danger" icon-left>
					<ion-icon name='musical-notes'></ion-icon>
					Listen
				</button>
			</ion-col>
			<ion-col text-right>
				<button ion-button clear small color="danger" icon-left>
					<ion-icon name='share-alt'></ion-icon>
					Share
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
	<div class="card-background-page">
		<ion-card>
			<img src="assets/img/bjork-live.jpg"/>
			<div class="card-title">Björk</div>
			<div class="card-subtitle">9 Albums</div>
		</ion-card>
	</div>
	<ion-card>
		<ion-item>
			<ion-avatar item-left>
				<img src="assets/img/marty-avatar.png">
			</ion-avatar>
			<h2>Marty McFly</h2>
			<p>November 5, 1955</p>
		</ion-item>

		<img src="assets/img/advance-card-bttf.png">

		<ion-card-content>
			<p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
				DeLorean?! Whoa. This is heavy.</p>
		</ion-card-content>

		<ion-row no-padding>
			<ion-col>
				<button ion-button clear small color="primary" icon-left>
					<ion-icon name='thumbs-up'></ion-icon>
					12 Likes
				</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button clear small color="primary" icon-left>
					<ion-icon name='text'></ion-icon>
					4 Comments
				</button>
			</ion-col>
			<ion-col center text-center>
				<ion-note>
					11h ago
				</ion-note>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
