<ion-header>
	<ion-navbar>
		<ion-title>Buttons</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div>
		<button ion-button color="light">Light</button>
	</div>
	<div>
		<button ion-button>Default</button>
	</div>
	<div>
		<button ion-button color="secondary">Secondary</button>
	</div>
	<div>
		<button ion-button color="danger">Danger</button>
	</div>
	<div>
		<button ion-button color="dark">Dark</button>
	</div>
	<div>
		<button ion-button color="light" outline>Light</button>
	</div>
	<div>
		<button ion-button outline>Default</button>
	</div>
	<div>
		<button ion-button color="secondary" outline>Secondary</button>
	</div>
	<div>
		<button ion-button color="danger" outline>Danger</button>
	</div>
	<div>
		<button ion-button color="dark" outline>Dark</button>
	</div>
	<div>
		<button ion-button color="light" clear>Light</button>
	</div>
	<div>
		<button ion-button clear>Default</button>
	</div>
	<div>
		<button ion-button color="secondary" clear>Secondary</button>
	</div>
	<div>
		<button ion-button color="danger" clear>Danger</button>
	</div>
	<div>
		<button ion-button color="dark" clear>Dark</button>
	</div>
	<div>
		<button ion-button color="light" round>Light</button>
	</div>
	<div>
		<button ion-button round>Default</button>
	</div>
	<div>
		<button ion-button color="secondary" round>Secondary</button>
	</div>
	<div>
		<button ion-button color="danger" round>Danger</button>
	</div>
	<div>
		<button ion-button color="dark" round>Dark</button>
	</div>
	<div>
		<button ion-button color="light" block>Light</button>
	</div>
	<div>
		<button ion-button block>Default</button>
	</div>
	<div>
		<button ion-button color="secondary" block>Secondary</button>
	</div>
	<div>
		<button ion-button color="danger" block>Danger</button>
	</div>
	<div>
		<button ion-button color="dark" block>Dark</button>
	</div>
	<div>
		<button ion-button color="light" full>Light</button>
	</div>
	<div>
		<button ion-button full>Default</button>
	</div>
	<div>
		<button ion-button color="secondary" full>Secondary</button>
	</div>
	<div>
		<button ion-button color="danger" full>Danger</button>
	</div>
	<div>
		<button ion-button color="dark" full>Dark</button>
	</div>
	<div>
		<button ion-button color="light" small>Light Small</button>
	</div>
	<div>
		<button ion-button small>Default Small</button>
	</div>
	<div>
		<button ion-button color="secondary">Secondary Medium</button>
	</div>
	<div>
		<button ion-button color="danger" medium>Danger Medium</button>
	</div>
	<div>
		<button ion-button color="dark" large>Dark Large</button>
	</div>
	<div>
		<button ion-button color="dark" round icon-left>
			<ion-icon name='construct'></ion-icon>
			Tools
		</button>
		<button ion-button color="dark" clear icon-only>
			<ion-icon name='hammer'></ion-icon>
		</button>
	</div>
</ion-content>
