<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Badges</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card>

		<img src="assets/img/bjork-live.jpg"/>

		<ion-card-content>
			<h2 class="card-title">
				Björk
			</h2>
			<p>
				Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the
				Sugarcubes, but when...
			</p>
		</ion-card-content>

		<ion-item>
			<ion-icon name='musical-notes' slot="start" style="color: #d03e84"></ion-icon>
			Albums
			<ion-badge slot="end">9</ion-badge>
		</ion-item>

		<ion-item>
			<ion-icon name='logo-twitter' slot="start" style="color: #55acee"></ion-icon>
			Followers
			<ion-badge slot="end">260k</ion-badge>
		</ion-item>

	</ion-card>

</ion-content>
