<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Alerts</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-button expand="block" (click)="presentAlert()">Alert</ion-button>
	<ion-button expand="block" (click)="presentAlertLongMessage()">Alert Long Message</ion-button>
	<ion-button expand="block" (click)="presentAlertMultipleButtons()">Multiple Buttons (>2)</ion-button>
	<ion-button expand="block" (click)="presentAlertNoMessage()">Alert No Message</ion-button>
	<ion-button expand="block" (click)="presentAlertConfirm()">Confirm</ion-button>
	<ion-button expand="block" (click)="presentAlertPrompt()">Prompt</ion-button>
	<ion-button expand="block" (click)="presentAlertRadio()">Radio</ion-button>
	<ion-button expand="block" (click)="presentAlertCheckbox()">Checkbox</ion-button>
	<ion-button expand="block" (click)="presentWithCssClass()">CssClass</ion-button>
</ion-content>
