<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Placeholder Labels</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>

		<ion-item>
			<ion-input type="text" placeholder="Username"></ion-input>
		</ion-item>

		<ion-item>
			<ion-input type="password" placeholder="Password"></ion-input>
		</ion-item>

	</ion-list>

	<div padding>
		<ion-button color="primary" expand="block">Sign In</ion-button>
	</div>

</ion-content>
