<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Inputs</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item [href]="'/components/inputs-fixed-labels'" lines="inset">
			Fixed Labels
		</ion-item>
		<ion-item [href]="'/components/inputs-floating-labels'" lines="inset">
			Floating Labels
		</ion-item>
		<ion-item [href]="'/components/inputs-inline-labels'" lines="inset">
			Inline Labels
		</ion-item>
		<ion-item [href]="'/components/inputs-inset-labels'" lines="inset">
			Inset Labels
		</ion-item>
		<ion-item [href]="'/components/inputs-placeholder-labels'" lines="inset">
			Placeholder Labels
		</ion-item>
		<ion-item [href]="'/components/inputs-stacked-labels'" lines="inset">
			Stacked Labels
		</ion-item>
	</ion-list>
</ion-content>
