.getting-started {
	.home-hello {
		position: relative;

		.hello-title {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			border: 0;
			background: rgba(255, 255, 255, 0.6);
			padding: 10px;
		}

		h1 {
			margin-top: 0;
		}
	}

	.tile {
		.item {
			padding: 0;
		}

		ion-item {
			display: block;

			.input-wrapper {
				display: block;
				width: 100%;
			}

			.tile-item-wrapper {
				display: block;
				width: 100%;
				margin: 8px 13px;

				ion-icon {
					font-size: 20pt;
					// vertical-align: bottom;
				}
			}
		}

		.item-inner {
			padding: 0;
		}

		.input-wrapper {
			display: block;
		}

		h2 {
			text-align: center;
		}

		h1 {
			text-align: center;
			padding-bottom: 10px;
		}
	}

	ion-item-content {
		margin: 0;
	}

	.quick-action {
		width: 100%;
		line-height: 1.5;
		vertical-align: middle;

		ion-icon {
			font-size: 20pt;
			vertical-align: bottom;
		}
		span {
			font-size: 12pt;
			padding-left: 10px;
		}
	}
}