<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Components</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item [href]="'/components/actionsheet'" lines="inset">
			Action Sheet
		</ion-item>
		<ion-item [href]="'/components/alerts'" lines="inset">
			Alerts
		</ion-item>
		<ion-item [href]="'/components/badges'" lines="inset">
			Badges
		</ion-item>
		<ion-item [href]="'/components/buttons'" lines="inset">
			Buttons
		</ion-item>
		<ion-item [href]="'/components/cards'" lines="inset">
			Cards
		</ion-item>
		<ion-item [href]="'/components/checkbox'" lines="inset">
			Checkbox
		</ion-item>
		<ion-item [href]="'/components/floating-action-buttons'" lines="inset">
			Floating Action Buttons
		</ion-item>
		<ion-item [href]="'/components/gestures'" lines="inset">
			Gestures
		</ion-item>
		<ion-item [href]="'/components/grid'" lines="inset">
			Grid
		</ion-item>
		<ion-item [href]="'/components/icons'" lines="inset">
			Icons
		</ion-item>
		<ion-item [href]="'/components/inputs'" lines="inset">
			Inputs
		</ion-item>
	</ion-list>
</ion-content>
