<ion-header>
	<ion-navbar>
		<ion-title>Inputs</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item (click)="fixedLabelsTapped()">
			Fixed Labels
		</ion-item>
		<ion-item (click)="floatingLabelsTapped()">
			Floating Labels
		</ion-item>
		<ion-item (click)="inlineLabelsTapped()">
			Inline Labels
		</ion-item>
		<ion-item (click)="insetLabelsTapped()">
			Inset Labels
		</ion-item>
		<ion-item (click)="placeholderLabelsTapped()">
			Placeholder Labels
		</ion-item>
		<ion-item (click)="stackedLabelsTapped()">
			Stacked Labels
		</ion-item>
	</ion-list>
</ion-content>
