<ion-header>
	<ion-navbar>
		<ion-title>Alerts</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button color="dark" block (click)="doAlert()">
		Show Basic Alert
	</button>
	<button ion-button color="secondary" block (click)="doPrompt()">
		Show Prompt Alert
	</button>
	<button ion-button color="danger" block (click)="doConfirmation()">
		Show Confirmation Alert
	</button>
	<button ion-button color="light" block (click)="doRadioAlert()">
		Show Radio Alert
	</button>
	<button ion-button color="primary" block (click)="doCheckboxAlert()">
		Show Checkbox Alert
	</button>
</ion-content>
